<div class="dashboard-admin-top">
    <ul>
        <li class="margin-5">
            <img src="~/Image/Logo/makeup-logo.png" alt="لوگو"/>
            <span>سایه</span>
        </li>
        <li class="margin-20">
            <span>شادی میرمحمدی</span>
        </li>
    </ul>
</div>
